<%- include('./partials/head', {title : 'Index'}) %>

<link rel="stylesheet" href="/public/styles/starsComponent.css">

<%- include('./partials/body') %>

<h1><%= message %></h1>

<%- include('./components/starsComponent.ejs', {vote_average: 8.5}) %>

<script src="/public/scripts/shoppingCart.js"></script>

<%- include('./partials/foot') %>