<%- include('../partials/head', {title : 'Movie Detail', style:
'movieDetail.css'}) %> <%- include('../partials/body') %>
<link rel="stylesheet" href="/public/styles/shoppingCart.css">
<link href="/public/styles/navbar.css" rel="stylesheet">
<<<<<<< HEAD
<main>
    <%- include('../partials/movie-detail') %>
    

</main>
<%- include('../partials/foot') %>
=======

<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/normalize.css@8.0.1/normalize.min.css">
<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/glider-js@1.7.3/glider.min.css">
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/glider-js/1.6.6/glider.css" integrity="sha512-rEnjEH5u8xKS8NLcXC4nuZwT89x+tMB19ddbolNGE7DTl6o3JEo11kHAwryLlALFnxdONjO4xVpjunLWdiZR1A==" crossorigin="anonymous" referrerpolicy="no-referrer" />

<header class="s-header">
    <nav-bar><%- include('../components/navbar.ejs') %></nav-bar>
</header>
<main>
    <%- include('../partials/movie-detail') %>
</main>

<script src="/public/scripts/infoSwitcher.js"></script>
<script src="https://cdn.jsdelivr.net/npm/glider-js@1.7.3/glider.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/glider-js/1.6.6/glider.min.js" integrity="sha512-RidPlemZ+Xtdq62dXb81kYFycgFQJ71CKg+YbKw+deBWB0TLIqCraOn6k0CWDH2rGvE1a8ruqMB+4E4OLVJ7Dg==" crossorigin="anonymous" referrerpolicy="no-referrer"></script>
<script src="https://cdn.jsdelivr.net/npm/glider-js@1.7.3/glider.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/glider-js/1.6.6/glider.min.js" integrity="sha512-RidPlemZ+Xtdq62dXb81kYFycgFQJ71CKg+YbKw+deBWB0TLIqCraOn6k0CWDH2rGvE1a8ruqMB+4E4OLVJ7Dg==" crossorigin="anonymous" referrerpolicy="no-referrer"></script>
<script src="/public/scripts/carousel.js" type="module"></script>

<%- include('../partials/foot') %>
>>>>>>> fd899a3bdcfcc049be3a2672ac8d001a538fdaac
