<%- include('../partials/head', {title : 'Movie Detail', style:
'movieDetail.css'}) %> <%- include('../partials/body') %>
<link rel="stylesheet" href="/public/styles/shoppingCart.css">
<link href="/public/styles/navbar.css" rel="stylesheet">
<header class="s-header">
    <nav-bar><%- include('../components/navbar.ejs') %></nav-bar>
</header>
<main>
    <%- include('../partials/movie-detail') %>
    <div class="shoppingCart">
        <%- include('../components/shoppingCartComponent.ejs') %>
    </div>
    <!--<div class="open">
        <button onclick="openCart()">open</button>
    </div>
    <div class="close">
        <button onclick="closeCart()">close</button>
    </div>
    <div class="add">
        <button onclick="addToCart(299536)">add</button>
    </div> -->

</main>
<%- include('../partials/foot') %>