<%- include('../partials/head', {title : 'Movies'}) %>

<link href="/public/styles/paginationComponent.css" rel="stylesheet">
<link href="/public/styles/search.css" rel="stylesheet">
<link href="/public/styles/shop.css" rel="stylesheet">
<link href="/public/styles/navbar.css" rel="stylesheet">
<link href="/public/styles/starsComponent.css" rel="stylesheet">
<link href="/public/styles/movieCardComponent.css" rel="stylesheet">
<link rel="stylesheet" href="/public/styles/mainShop.css" type="text/css">

<div class="s-container">

    <nav-bar><%- include('../components/navbar.ejs') %></nav-bar>

    <main class="s-content">
        <div class="s-filter">
            <filter-bar><%- include('../components/search.ejs') %></filter-bar>
        </div>
    </main>
        <div id="genre-movies-shop-container"></div>
            <%- include('main_shop.ejs') %>
    
    <footer class="s-footer">
        <pagination-bar><%- include('../components/paginationComponent.ejs') %></pagination-bar>
    </footer>
</div>


<%- include('../partials/foot') %>