<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="/public/styles/login.css" rel="stylesheet">
    <title>Document</title>
</head>
<body>

    <link rel="stylesheet" href="/public/styles/carousel.css" />
    <link rel="stylesheet" href="/public/styles/carousel-actor.css" />
    <link rel="stylesheet" href="/public/styles/trailer.css">
    <link rel="stylesheet" href="/public/styles/infoSwitcher.css">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/normalize.css@8.0.1/normalize.min.css">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/glider-js@1.7.3/glider.min.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/glider-js/1.6.6/glider.css" integrity="sha512-rEnjEH5u8xKS8NLcXC4nuZwT89x+tMB19ddbolNGE7DTl6o3JEo11kHAwryLlALFnxdONjO4xVpjunLWdiZR1A==" crossorigin="anonymous" referrerpolicy="no-referrer" />
    <title>Document</title>
    <link href="/public/styles/shoppingCart.css" rel="stylesheet">
    <link href="/public/styles/starsComponent.css" rel="stylesheet">
    <link href="/public/styles/movieCardComponent.css" rel="stylesheet">
</head>
<body>
    <script src="https://cdn.jsdelivr.net/npm/glider-js@1.7.3/glider.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/glider-js/1.6.6/glider.min.js" integrity="sha512-RidPlemZ+Xtdq62dXb81kYFycgFQJ71CKg+YbKw+deBWB0TLIqCraOn6k0CWDH2rGvE1a8ruqMB+4E4OLVJ7Dg==" crossorigin="anonymous" referrerpolicy="no-referrer"></script>
    <script src="/public/scripts/carousel.js" type="module"></script>
   


    <%- include('../components/movieCardComponent.ejs', {
        id: id,
        title: title,
        overview: overview,
        genres: genres,
        path: path,
        vote_average: vote_average
    }) %>

<%- include('../partials/head', {title : 'Movies'}) %>

<link href="/public/styles/paginationComponent.css" rel="stylesheet">
<link href="/public/styles/search.css" rel="stylesheet">
<link href="/public/styles/shop.css" rel="stylesheet">
<link href="/public/styles/navbar.css" rel="stylesheet">
<link href="/public/styles/starsComponent.css" rel="stylesheet">
<link href="/public/styles/movieCardComponent.css" rel="stylesheet">
<link rel="stylesheet" href="/public/styles/shoppingCart.css">

<div class="s-container">
    <header class="s-header">
        <nav-bar><%- include('../components/navBar.ejs') %></nav-bar>
    </header>
    <div class="shoppingCartContainer">
        <%- include('../components/shoppingCartComponent.ejs') %>
    </div>
    <main class="s-content">
        <div class="shoppingCart">
            <%- include('../components/shoppingCartComponent.ejs') %>
        </div>
        <div class="s-filter">
            <filter-bar> <%- include('../components/search.ejs') %> </filter-bar>
        </div>
        <%- for movie in movies { %>
        <div id="genre-movies-shop-container"></div>
        <section class="s-grid" id="MovieGalery">
            <% result.forEach(row => { %>
                <%- include('../components/movieCardComponent.ejs', {
                    id: row.id,
                    title: row.title,
                    overview: row.overview,
                    genres: row.genres,
                    path: row.path,
                    vote_average: row.vote_average
                }) %>
            <% }) %>
        </section>
    </main>
    <footer class="s-footer">
        <pagination-bar><%- include('../components/paginationComponent.ejs') %></pagination-bar>
    </footer>
</div>


<%- include('../partials/foot') %>