<%- include('../partials/head', {title : 'Movies'}) %>

<link href="/public/styles/paginationComponent.css" rel="stylesheet">
<link href="/public/styles/search.css" rel="stylesheet">
<link href="/public/styles/shop.css" rel="stylesheet">
<link href="/public/styles/navbar.css" rel="stylesheet">
<link href="/public/styles/starsComponent.css" rel="stylesheet">
<link href="/public/styles/movieCardComponent.css" rel="stylesheet">
<link rel="stylesheet" href="/public/styles/shoppingCart.css">

<div class="s-container">
    <header class="s-header">
        <nav-bar><%- include('../components/navbar.ejs') %></nav-bar>
    </header>
    <div class="shoppingCartContainer">
        <%- include('../components/shoppingCartComponent.ejs') %>
    </div>
    <main class="s-content">
        <div class="s-filter">
            <filter-bar> <%- include('../components/search.ejs') %> </filter-bar>
        </div>
        <%- for movie in movies { %>
        <div id="genre-movies-shop-container"></div>
        <section class="s-grid" id="MovieGalery">
            <%- include('../components/movieCardComponent.ejs', {
                id: id,
                title: title,
                overview: overview,
                genres: genres,
                path: path,
                vote_average: vote_average
            }) %>
        </section>
    </main>
    <footer class="s-footer">
        <pagination-bar><%- include('../components/paginationComponent.ejs') %></pagination-bar>
    </footer>
</div>


<%- include('../partials/foot') %>