<% imageUrl = 'https://image.tmdb.org/t/p/w500/' %>

<div class="mcc-grid__card">
    <figure class="mcc-card__cover">
        <button class="mcc-go-to-detail" id="<%= id %>">
            <img
                src="<%= path %>"
                alt="<%= typeof title != 'undefined' ? title : 'untitled' %>"
                class="mcc-card__poster">
            <span class="mcc-card__title">
                <%= typeof title != 'undefined' ? title : 'untitled' %>
            </span>
            <span class="mcc-card__overview">
                <p class="mcc-card__text">
                    <%= typeof overview != 'undefined' ? overview : 'overview not found' %>
                </p>
            </span>
        </button>
    </figure>
    <div class="mcc-card__table">
        <div class="mcc-table__header">
            <p class="mcc-table__genre">
                <%= typeof genres != 'undefined' ? genres : 'genres not found' %>
            </p>
            <%- include('./starsComponent.ejs', {vote_average: vote_average}) %>
        </div> 
        <div class="mcc-table__btn--add"  id="<%= id %>">Add To Cart</div>
    </div>
</div>