<header class="header">
    <div class="izHeader">
        <a class="logo" id="home">
            <img src="/public/assets/icons/logo_coexbuster.svg" width="80px" alt="">
        </a>
    </div>
    <div class="categories">
        <nav class="nav">
            <ul class="list-categories">

                <% categories.forEach(function(cat) { %>
                    <a href="/movies/category?category=<%- cat.id %>"><li><%- cat.name %></li></a>
                <% }); %>
                    
                <label for="otherMenu" class="list-item down-list" id="otherItems">
                    Others
                    <img src="../../../public/assets/icons/arrow_down.svg" alt="arrow_down" class="list-icon">
                <select class="other-categories" name="" id=""  onchange="location = this.value">
                    <% categories.forEach(function(cat) { %>
                        <option value="/movies/category?category=<%- cat.id %>"><%- cat.name %></option>
                    <% }); %>
                    <label for="otherMenu" class="list-item down-list" id="otherItems">
                        Others
                        <img src="../../../public/assets/icons/arrow_down.svg" alt="arrow_down" class="list-icon">
                        <select class="other-categories" name="" id="">
                            <% categories.forEach(function(cat) { %>
                                <option value=""><li><%- cat.name %></li></option>
                            <% }); %>
                        </select>
                    </label>
                </ul>
            </nav>
        </div>
  
    <div class="derHeader">
        <div class="btn-sesion" id="btn-nosesion-nav">
            <button id="login" class="btn-login-nav">Log in</button>
            <button id="register" class="btn-singup-nav">Sing up</button>
        </div>
        <drop-menu id="drop-menu" class="displayNone"></drop-menu>
        <a as="button" id="openButton">
            <img src="../../../public/assets/icons/icon_shopping_cart_notification.svg" alt="" width="30px" heigth="27">
        </a>
    </div>

</header>

